@import "../../Utilities/variables";

.profilepreview__container {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-family: $sansSerifMain;

    .profilepreview__banner {
        width: 100%;
        overflow: hidden;
        min-height: 100px;
        max-height: 100px;
        // object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    .profilepreview__avatar {
        position: absolute;
        top: 39%;
        left: 5%;
    }

    .profilepreview__details {
        display: flex;
        justify-content: space-between;
        padding: 36px 36px 24px;

        .profilepreview__details-section {
            h3 {
                font-size: 1em;
            }

            p {
                font-size: 1em;
            }
        }
    }
}

.light.profilepreview__container {
    background-color: $lightModeWhite90;

    .profilepreview__details {
        color: $lightModeGrey;
    }
}

.dark.profilepreview__container {
    background-color: $darkModeTweet;

    .profilepreview__details {
        color: $darkModeText;
    }
}
