@import "../../Utilities/variables";

.replybox__container {
    display: flex;
    flex-direction: column;
    ::placeholder {
        font-family: $sansSerifMain;
        font-size: 20px;
    }

    .replybox__input-container {
        padding: 16px 32px;
        display: flex;
        align-items: center;
        gap: 12px;

        textarea {
            border: none;
            background: none;
            padding: 12px;
            width: 87%;
            min-height: 40px;
            font-family: $sansSerifMain;
            font-size: 18px;

            &:focus {
                outline: none;
            }
        }
    }

    .replybox__image-preview-container {
        overflow: hidden;
        max-height: 400px;
        position: relative;
        object-fit: contain;
        object-position: center;

        .replybox__image-preview-close {
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            right: 12px;
            top: 12px;
            border-radius: 100px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                background-color: rgb(26, 28, 33);
            }

            .replybox__image-close {
                color: white;
            }
        }

        img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .replybox__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 24px;

        .replybox__buttons-icons {
            display: flex;
            gap: 8px;

            .replybox__buttons-container {
                border-radius: 50px;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .replybox__buttons-reply {
            display: flex;
            gap: 12px;

            button {
                padding: 6px 24px;
                border: none;
                border-radius: 100px;
                color: white;
                font-weight: 700;
                font-family: $sansSerifMain;
                transition: transform 0.2s ease;

                &:hover {
                    cursor: pointer;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

.light.replybox__container {
    background: $lightModeInputBG;
    ::placeholder {
        color: $lightModeGrey;
    }

    .replybox__buttons-container {
        background-color: rgba(138, 180, 211, 0);

        &:hover {
            background-color: rgba(138, 180, 211, 0.2);
        }

        .replybox__icon {
            color: $lightModeGrey;
        }
    }

    .replybox__buttons-reply {
        display: flex;
        gap: 12px;

        button {
            background-color: $mainBlue;
        }

        #replybox__cancel {
            background-color: rgba(255, 255, 255, 0.666);
            border: 2px solid $mainBlue;
            color: $mainBlue;
        }
    }
}

.dark.replybox__container {
    background: $darkModeGrey;
    ::placeholder {
        color: $lightModeGrey;
    }

    .replybox__buttons-container {
        background-color: rgba(138, 180, 211, 0);

        &:hover {
            background-color: rgba(138, 180, 211, 0.2);
        }

        .replybox__icon {
            color: $lightModeGrey;
        }
    }

    .replybox__buttons-reply {
        display: flex;
        gap: 12px;

        button {
            background-color: $mainBlue;
        }

        #replybox__cancel {
            background-color: #192846;
            border: 2px solid $mainBlue;
            color: $mainBlue;
        }
    }

    textarea {
        color: white;
    }
}
