@import "../../Utilities/variables";

.suggested__container {
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        font-family: $sansSerifMain;
    }

    .suggested__profiles {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.light.suggested__container {
    background-color: $lightModeWhite90;

    h3 {
        color: $lightModeGrey;
    }
}

.dark.suggested__container {
    background-color: $darkModeTweet;

    h3 {
        color: $darkModeText;
    }
}
