@import "../../Utilities/variables";

.tweetskeleton__container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .tweetskeleton__reply-box {
        width: 100%;
    }

    .tweetskeleton__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px 12px 32px;

        .tweetskeleton__details-user {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;

            .tweetskeleton__details-avatar {
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 100px;
            }

            .tweetskeleton__details-user-info {
                width: 30%;
            }
        }
    }

    .tweetskeleton__message {
        padding: 16px 32px;

        p {
            line-height: 20px;
        }
    }

    .tweetskeleton__image {
        width: 100%;
        overflow: hidden;
        height: 400px;
    }

    .tweetskeleton__interactions {
        padding: 12px 32px;
    }
}

// .light.tweetskeleton__container {
// }

// .dark.tweetskeleton__container {
// }
