@import "../../Utilities/variables";

.profiletweets__container {
    display: flex;
    flex-direction: column;
    gap: $homeGap;
    width: 50%;

    @media only screen and (max-width: $desktop) {
        width: 75%;
    }

    @media only screen and (max-width: $tablet) {
        width: 100%;
    }
}
