@import "../../Utilities/variables";

.avatar__container {
    object-fit: contain;
    border-radius: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.light.avatar__container {
    box-shadow: $lightModeShadow;
}

.dark.avatar__container {
    box-shadow: $darkModeShadow;
}
