@import "../../Utilities/variables";

.avatar__container {
    // object-fit: contain;
    border-radius: 200px;
    overflow: hidden;

    img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.light.avatar__container {
    box-shadow: $lightModeShadow;
}

.dark.avatar__container {
    box-shadow: $darkModeShadow;
}
