@import "../../Utilities/variables";

.messaging__container {
    font-family: $sansSerifMain;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .messaging__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $homeGap;

        img {
            width: 150px;
        }
    }
}

.light.messaging__container {
    background-image: $lightModeBG;

    h1 {
        color: $lightModeGrey;
    }
}

.dark.messaging__container {
    background-image: $darkModeBG;

    h1 {
        color: $darkModeText;
    }
}
