@import "../../Utilities/variables";

.trending__container {
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    font-family: $sansSerifMain;

    .trending__topics {
        display: flex;
        flex-direction: column;
        gap: 18px;

        p {
            font-weight: 500;
            font-size: 14px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.light.trending__container {
    background-color: $lightModeWhite90;
    color: $lightModeGrey;
}

.dark.trending__container {
    background-color: $darkModeTweet;
    color: $darkModeText;
}
