$mainBlue: #47b8ff;
$secondaryBlue: #87dbff;
$unfollowRed: #f73946;

// Light mode
$lightModeGrey: #8ab5d3;
$lightModeGrey20: rgba(138, 180, 211, 0.2);
$lightModeWhite: rgba(255, 255, 255, 1);
$lightModeWhite50: rgba(255, 255, 255, 0.5);
$lightModeWhite90: rgba(255, 255, 255, 0.9);
$lightModeBlue: #dce9f4;
$lightModeInputBG: rgba(81, 155, 225, 0.2);

// Dark mode

// Typography
$sansSerifMain: "DM Sans", sans-serif;

// Spacing
$homeGap: 32px;
