.login-modal__container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 600px;
  padding: 48px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.login-modal__container ::-webkit-input-placeholder {
  color: #5379a6;
}

.login-modal__container :-ms-input-placeholder {
  color: #5379a6;
}

.login-modal__container ::-ms-input-placeholder {
  color: #5379a6;
}

.login-modal__container ::placeholder {
  color: #5379a6;
}

.login-modal__container .login-modal__form-button {
  border: none;
  background-color: #47b8ff;
  padding: 16px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.login-modal__container .login-modal__form-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.login-modal__container .login-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.login-modal__container .login-modal__form h3 {
  font-size: 32px;
}

.login-modal__container .login-modal__form input {
  background-color: rgba(138, 180, 211, 0.2);
  border: none;
  padding: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.login-modal__container .login-modal__form input:focus {
  outline: #47b8ff;
}

.login-modal__container .login-modal__google-container {
  background-color: white;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.login-modal__container .login-modal__google-container img {
  height: 24px;
}

.login-modal__container .login-modal__google-container .login-modal__google-button {
  background: none;
  border: none;
  color: #47b8ff;
  font-size: 14px;
  font-weight: 700;
}

.login-modal__container .login-modal__google-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.login-modal__container .login-modal__redirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-modal__container .login-modal__redirect .login-modal__link {
  text-decoration: none;
  color: black;
}

.login-modal__container .login-modal__redirect .login-modal__link span {
  color: #47b8ff;
  font-weight: 700;
}

.login-modal__container .login-modal__redirect .login-modal__error {
  color: #ed3040;
  font-weight: 500;
}
/*# sourceMappingURL=LoginModal.css.map */