.update__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  width: 600px;
  font-family: "Roboto", sans-serif;
  z-index: 150;
}

.update__container ::-webkit-input-placeholder {
  color: #8ab5d3;
}

.update__container :-ms-input-placeholder {
  color: #8ab5d3;
}

.update__container ::-ms-input-placeholder {
  color: #8ab5d3;
}

.update__container ::placeholder {
  color: #8ab5d3;
}

.update__container .update__icon {
  color: #e0e7f0;
}

.update__container .update__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
}

.update__container .update__heading .update__close-icon {
  cursor: pointer;
}

.update__container .update__banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update__container .update__banner .update__banner-icon {
  background: rgba(0, 0, 0, 0.506);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.update__container .update__banner .update__banner-icon .update__icon {
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.update__container .update__banner .update__banner-icon .update__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.update__container .update__banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.update__container .update__pfp-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding: 32px;
  width: 100%;
}

.update__container .update__pfp-name .update__pfp {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.update__container .update__pfp-name .update__pfp .update__pfp-icon {
  background: rgba(0, 0, 0, 0.506);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.update__container .update__pfp-name .update__pfp .update__pfp-icon .update__icon {
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.update__container .update__pfp-name .update__pfp .update__pfp-icon .update__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.update__container .update__pfp-name .update__pfp .update__pfp-image {
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.update__container .update__pfp-name .update__pfp .update__pfp-image img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.update__container .update__pfp-name .update__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.update__container .update__pfp-name .update__name input {
  border: none;
  padding: 12px 18px;
  border-radius: 32px;
  width: 100%;
}

.update__container .update__bio {
  padding: 0px 32px 32px 32px;
}

.update__container .update__bio textarea {
  border: none;
  width: 100%;
}

.update__container .update__button {
  padding: 0px 32px 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.update__container .update__button button {
  padding: 14px 32px;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.update__container .update__button button:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  cursor: pointer;
}

.update__container .update__button #update__cancel {
  border: 2px solid #47b8ff;
  background: none;
  color: #47b8ff;
}

.update__container .update__button #update__save {
  border: none;
  background: #47b8ff;
  color: white;
}

.light.update__container {
  background-color: rgba(255, 255, 255, 0.9);
}

.light.update__container .update__heading {
  color: #5379a6;
}

.light.update__container label {
  color: #5379a6;
}

.light.update__container input {
  background: rgba(81, 155, 225, 0.2);
  color: #5379a6;
}

.light.update__container textarea {
  background: rgba(81, 155, 225, 0.2);
  color: #5379a6;
}

.dark.update__container {
  background-color: rgba(25, 40, 70, 0.621);
}

.dark.update__container .update__heading {
  color: #e0e7f0;
}

.dark.update__container label {
  color: #788ea8;
}

.dark.update__container input {
  background: #0a1324;
  color: #e0e7f0;
}

.dark.update__container textarea {
  background: #0a1324;
  color: #e0e7f0;
}
/*# sourceMappingURL=UpdateProfileModal.css.map */