@import "../../Utilities/variables";

.fulltweet__container {
    font-family: $sansSerifMain;
    color: $lightModeGrey;
    //   padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: $lightModeWhite50;
    backdrop-filter: blur(16px);
    // position: relative;

    h3,
    p,
    .fulltweet__button {
        color: $lightModeGrey;
    }

    .fulltweet__reply-box {
        // position: absolute;
        // top: 0;
        // left: 0;
        // background: $darkModeGrey50;
        width: 100%;
        // height: 100vh;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    .fulltweet__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px 12px 32px;

        .fulltweet__details-user {
            display: flex;
            align-items: center;
            gap: 16px;

            .fulltweet__details-avatar {
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 100px;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }

        .fulltweet__details-time {
            p {
                font-size: 14px;
            }
        }
    }

    .fulltweet__message {
        padding: 0px 32px;

        p {
            line-height: 20px;
        }
    }

    .fulltweet__image {
        width: 100%;
        overflow: hidden;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fulltweet__interactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 32px 8px;
        position: relative;

        .fulltweet__options-button {
            position: absolute;
            right: 0;
            bottom: 48px;
        }

        .fulltweet__interactions-icons {
            display: flex;
            align-items: center;
            gap: 48px;

            .fulltweet__interactions-icon-container {
                display: flex;
                align-items: center;
                gap: 12px;

                &:hover {
                    cursor: pointer;
                }

                .fulltweet__button {
                    transition: color 0.2s ease;
                }

                .fulltweet__liked {
                    color: $like;
                }

                .fulltweet__disliked {
                    color: $dislike;
                }

                #tweet-reply {
                    &:hover {
                        color: $mainBlue;
                    }
                }
                #tweet-like {
                    &:hover {
                        color: $like;
                    }
                }
                #tweet-dislike {
                    &:hover {
                        color: $dislike;
                    }
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .fulltweet__interactions-options {
            #tweet-options {
                &:hover {
                    color: $mainBlue;
                    cursor: pointer;
                }
            }
        }
    }
}
