@import "../../Utilities/variables";

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 18px 96px;
    backdrop-filter: blur(16px);
    position: absolute;
    top: 0;
    z-index: 50;
    width: 100%;

    .navbar__logo {
        max-height: 24px;
    }

    ::placeholder {
        color: $lightModeGrey;
    }

    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .navbar__mobile {
            display: none;
            justify-content: space-between;

            .navbar__mobile-icon {
                transition: color 0.2s ease;

                &:hover {
                    cursor: pointer;
                    color: $mainBlue;
                }
            }
        }

        .navbar__desktop {
            ul {
                display: flex;
                gap: 60px;

                li {
                    list-style: none;
                    font-family: $sansSerifMain;
                    font-weight: 500;
                    transition: color 0.2s ease;

                    &:hover {
                        cursor: pointer;
                        color: $mainBlue;
                    }
                }
            }
        }
    }

    .navbar__search-avatar {
        display: flex;
        align-items: center;
        gap: 24px;
        position: relative;

        .navbar__search {
            border-radius: 50px;
            padding: 8px 16px;
            display: flex;
            align-items: center;

            input {
                border: none;
                background: none;
                padding: 0px 8px;

                &:focus {
                    outline: none;
                }
                // height: 36px;
            }
        }

        .navbar__avatar {
            max-height: 50px;
            max-width: 50px;
            object-fit: contain;
            overflow: hidden;
            border-radius: 100px;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
            }
        }

        .navbar__search-results {
            position: absolute;
            top: 60px;
            right: 40px;
            box-shadow: $lightModeShadow;
        }
    }

    @media only screen and (max-width: $desktop) {
        .navbar__search-avatar {
            .navbar__search {
                display: none;
            }
        }
    }

    @media only screen and (max-width: $tablet) {
        padding: 18px 48px;
        nav {
            .navbar__mobile {
                display: flex;
                gap: 60px;
            }

            .navbar__desktop {
                display: none;
            }
        }
    }

    @media only screen and (max-width: $phone) {
        padding: 18px;
    }
}

.light.navbar__container {
    background-color: $lightModeWhite90;

    li,
    .navbar__mobile-icon {
        color: $lightModeGrey;
    }

    .navbar__search {
        background-color: $lightModeInputBG;
    }

    .navbar__search-icon {
        color: $lightModeGrey;
    }
}

.dark.navbar__container {
    background-color: $darkModeNavbar;

    li,
    .navbar__mobile-icon {
        color: $darkModeText;
    }

    .navbar__search {
        background-color: $darkModeTweet;
    }

    .navbar__search-icon {
        color: $darkModeText;
    }
}
