@import "../../Utilities/variables";

.tweet-page__container {
    width: 100%;
    // height: 100vh;
    min-height: 100vh;
    height: fit-content;
    background-position: center;
    background-size: cover;

    .tweet-page__main {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        // align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 180px 120px;

        .tweet-page__tweet-container {
            width: 55%;
            // position: absolute;
            // margin-top: 10%;
        }
    }
}

.light.tweet-page__container {
    background-image: url("../../Assets/Images/Light-BG-2.jpg");

    .tweet-page__tweet-container {
        box-shadow: $lightModeShadow;
    }
}

.dark.tweet-page__container {
    background-image: url("../../Assets/Images/Dark-BG.jpg");

    .tweet-page__tweet-container {
        box-shadow: $darkModeShadow;
    }
}
