@import "../../Utilities/variables";

.tweet__container {
    font-family: $sansSerifMain;
    color: $lightModeGrey;
    //   padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: $lightModeWhite50;
    backdrop-filter: blur(16px);

    .tweet__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px 12px 32px;

        .tweet__details-user {
            display: flex;
            align-items: center;
            gap: 16px;

            .tweet__details-avatar {
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 100px;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }

        .tweet__details-time {
            p {
                font-size: 14px;
            }
        }
    }

    .tweet__message {
        padding: 0px 32px;

        p {
            line-height: 20px;
        }
    }

    .tweet__image {
        width: 100%;
        overflow: hidden;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .tweet__interactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 32px 8px;

        .tweet__interactions-icons {
            display: flex;
            align-items: center;
            gap: 48px;

            .tweet__interactions-icon-container {
                display: flex;
                align-items: center;
                gap: 12px;

                &:hover {
                    cursor: pointer;
                }

                .tweet__button {
                    transition: color 0.2s ease;
                }

                .tweet__liked {
                    color: $like;
                }

                .tweet__disliked {
                    color: $dislike;
                }

                #tweet-reply {
                    &:hover {
                        color: $mainBlue;
                    }
                }
                #tweet-like {
                    &:hover {
                        color: $like;
                    }
                }
                #tweet-dislike {
                    &:hover {
                        color: $dislike;
                    }
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .tweet__interactions-options {
            #tweet-options {
                &:hover {
                    color: $mainBlue;
                    cursor: pointer;
                }
            }
        }
    }
}
