.tweet__container {
  font-family: "Roboto", sans-serif;
  color: #5379a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.tweet__container .tweet__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px 12px 32px;
}

.tweet__container .tweet__details .tweet__details-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.tweet__container .tweet__details .tweet__details-user .tweet__details-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}

.tweet__container .tweet__details .tweet__details-user .tweet__details-avatar img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tweet__container .tweet__details .tweet__details-time p {
  font-size: 14px;
}

.tweet__container .tweet__message {
  padding: 0px 32px;
}

.tweet__container .tweet__message p {
  line-height: 20px;
}

.tweet__container .tweet__image {
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.tweet__container .tweet__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tweet__container .tweet__interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 32px 8px;
}

.tweet__container .tweet__interactions .tweet__interactions-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container .tweet__button {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container .tweet__button:hover {
  cursor: pointer;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container #tweet-reply:hover {
  color: #47b8ff;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container #tweet-like:hover {
  color: #f8525d;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container #tweet-dislike:hover {
  color: #a17df7;
}

.tweet__container .tweet__interactions .tweet__interactions-icons .tweet__interactions-icon-container p {
  font-size: 14px;
}

.tweet__container .tweet__interactions .tweet__interactions-options #tweet-options:hover {
  color: #47b8ff;
  cursor: pointer;
}
/*# sourceMappingURL=Tweet.css.map */