@import "../../Utilities/variables";

.login__container {
    font-family: $sansSerifMain;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    .login__link {
        text-decoration: none;
    }

    .login__modal-container {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.light.login__container {
    background-image: url("../../Assets/Images/Auth-BG.jpg");
}

.dark.login__container {
    background-image: url("../../Assets/Images/Auth-Dark-BG.jpg");
}
