@import "../../Utilities/variables";

.profiledetails__container {
    display: flex;
    flex-direction: column;
    gap: $homeGap;
    font-family: $sansSerifMain;
    width: 20%;
    margin-top: 75px;

    .profiledetails__user-profile {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 24px;
            font-weight: 400;
        }
    }

    .profiledetails__details {
        display: flex;
        flex-direction: column;
        gap: $homeGap;

        .profiledetails__details-item {
            display: flex;
            gap: 4px;
        }
    }

    hr {
        border: none;
        width: 100%;
    }
}

.light.profiledetails__container {
    color: $lightModeGrey;
}

.dark.profiledetails__container {
    color: $darkModeText;

    .profiledetails__user-profile {
        h3 {
            color: $darkModeSubtext;
        }

        p {
            color: $darkModeSubtext;
        }
    }

    hr {
        border-top: 1px solid $darkModeSubtext;
    }
}
