.reply__container {
  font-family: "Roboto", sans-serif;
  color: #5379a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  background: rgba(81, 155, 225, 0.2);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  position: relative;
}

.reply__container .reply__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 24px 32px;
}

.reply__container .reply__details .reply__details-avatar {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100px;
}

.reply__container .reply__details .reply__details-avatar img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reply__container .reply__details .reply__details-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.reply__container .reply__details .reply__details-content .reply__details-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.reply__container .reply__details .reply__details-content .reply__details-user .reply__details-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.reply__container .reply__details .reply__details-content .reply__details-user .reply__details-user-info h3 {
  font-size: 18px;
}

.reply__container .reply__details .reply__details-content .reply__details-user .reply__details-user-info p {
  font-size: 14px;
}

.reply__container .reply__details .reply__details-content .reply__details-user .reply__details-time p {
  font-size: 14px;
}

.reply__container .reply__details .reply__details-content .reply__message p {
  line-height: 20px;
}

.reply__container .reply__image {
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.reply__container .reply__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reply__container .reply__options-button {
  position: absolute;
  right: 0;
  bottom: 48px;
}

.reply__container .reply__interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 32px 8px;
}

.reply__container .reply__interactions .reply__interactions-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container:hover {
  cursor: pointer;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container .reply__button {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container .reply__liked {
  color: #f8525d;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container .reply__disliked {
  color: #a17df7;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container #reply-reply:hover {
  color: #47b8ff;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container #reply-like:hover {
  color: #f8525d;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container #reply-dislike:hover {
  color: #a17df7;
}

.reply__container .reply__interactions .reply__interactions-icons .reply__interactions-icon-container p {
  font-size: 14px;
}

.reply__container .reply__interactions .reply__interactions-options #reply-options:hover {
  color: #47b8ff;
  cursor: pointer;
}
/*# sourceMappingURL=Reply.css.map */