@import "../../Utilities/variables";

.tweetbox__container {
    .tweetbox__input-container {
        input {
            border: none;
            background: $lightModeGrey20;

            ::placeholder {
                color: $lightModeGrey;
            }
        }
    }
}